* {
 text-align: center;   
}

#info {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 2px;
    border: solid #050 2px;
}

#info img {
    width: 100%;
}